module.exports = {
    slack: {
        token: process.env.SLACK_TOKEN,
        name: '@*!#bot'
    },
    database: {
        dsn: "./database.sqlite"
    },
    http: {
        port: 3000,
    },
    words: [
        'fuck', 'shit'
    ],
    bot: {
        message: 'You swore! :scream: Adding this to your permanent record...',
        config: {
            icon_emoji: ':middle_finger:'
        }
    }
};
